body {
            background-color: #121212;
            color: #e0e0e0;
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            overflow-x: hidden;
        }
        
        .sidebar {
            width: 250px;
            background-color: #1e1e1e;
            color: #e0e0e0;
            border-right: 1px solid #444;
            flex-direction: column;
            align-items: flex-start;
            border-radius: 8px;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            position: fixed;
            top: 0;
            left: -300px;
            transition: left 0.3s ease;
            z-index: 1000;
            display: flex;
            box-sizing: border-box;
        }
        .sidebar-title {
            margin: 0;
            padding: 20px;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
        }

        .sidebar .sidebar-button {
            width: 100%;
            background-color: #333333;
            color: #ffffff;
            border: 1px solid #444;
            padding: 20px;
            border-radius: 0;
            cursor: pointer;
            text-align: left;
            transition: background-color 0.3s ease, transform 0.3s ease;
            margin: 0;
            box-sizing: border-box;
        }
        .half-button-container {
            display: flex;
            width: 100%;
        }
        
        .sidebar .sidebar-halfbutton {
            width: 50%; 
            background-color: #333333;
            color: #ffffff;
            border: 1px solid #444;
            padding: 20px;
            cursor: pointer;
            text-align: left;
            transition: background-color 0.3s ease, transform 0.3s ease;
            margin: 0;
            box-sizing: border-box;
        }
        .sidebar .sidebar-halfbutton:hover {
            background-color: #404040;
        }
        .sidebar .sidebar-button:hover {
            background-color: #3700b3;
            transform: translateX(5px);
        }
        
        .sidebar .sidebar-button:active {
            background-color: #290f6f;
        }
        
        .sidebar.visible {
            left: 0;
        }
    
        .toggle-sidebar-btn {
            background-color: #6200ea;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            border-radius: 8px;
            cursor: pointer;
            transition: left 0.3s ease, background-color 0.3s;
            position: fixed;
            top: 10px;
            left: 10px;
            transform: translateX(0px);
            z-index: 1100;
        }
    
        .sidebar.visible + .toggle-sidebar-btn {
            transform: translateX(0);
        }
    
        .toggle-sidebar-btn:hover {
            background-color: #3700b3;
        }
    
        h1 {
            color: #ff4081;
            margin-bottom: 30px;
        }
    

        #userId {
            background-color: #1e1e1e;
            padding: 10px;
            font-size :  12px; 
            color : #ff4081;
            border-radius: 8px;
            width: 100%;
            max-width: 1000px;
            text-align: center;
            margin-bottom: 20px;
        }
    
        label {
            color: #ffffff;
            display: block;
            margin-bottom: 5px;
        }
    
        input[type="text"], textarea {
            background-color: #2a2a2a;
            color: #ffffff;
            border: 1px solid #555;
            border-radius: 8px;
            padding: 10px;
            width: 100%;
            margin-top: 5px;
            box-sizing: border-box;
        }

        .message {
            background-color: #2a2a2a;
            padding: 8px;
            border-radius: 6px;
            margin: 5px 0;
            text-align: left;
            word-wrap: break-word;
        }
    
        @media (max-width: 600px) {
            .sidebar {
                width: 80%;
                left: -80%;
            }
    
            .main-content.shifted {
                margin-left: 0;
            }
        }
        
        .chat-container {
            display: none;
            flex-direction: column;
            height: 100vh;
            max-height: 100vh;
            width: calc(100% - 20px);
            margin-left: 0;
            transition: width 0.3s ease, margin-left 0.3s ease;
        }

        .chat-container.sidebar-visible {
            width: calc(100% - 250px);
            margin-left: 250px;
        }
          
        .messages {
            flex-grow: 1;
            overflow-y: auto;
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            width : 98%;
            gap: 10px;
        }

        .messages::-webkit-scrollbar-thumb {
            background: transparent;
        }

        .messages::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }

        .message {
            width: auto;
            max-width: 10%;
            padding: 10px;
            border-radius: 8px;
            margin-bottom: 10px;
            display: inline-block;
            word-wrap: break-word;
        }
            
        .server {
            background-color: #2a2a2a;
            color: white;
            align-self: flex-start;
        }
            
        .client {
            background-color: #6200ea;
            color: white;
            align-self: flex-end;
        }
             
        .input-area {
            display: flex;
            padding: 10px;
            background-color: #1e1e1e;
            position: relative;
        }
    
        .input-area input {
            flex-grow: 1;
            padding: 8px;
            background-color: #2a2a2a;
            border: none;
            color: #e0e0e0;
            border-radius: 4px;
        }
    
        .input-area button {
            background-color: #ff4081;
            border: none;
            color: white;
            padding: 8px;
            margin-left: 10px;
            border-radius: 4px;
            cursor: pointer;
        }
    
        .input-area button:hover {
            background-color: #3700b3;
        }
        
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
            z-index: 1500;
        }
    
        .modal-content {
            background-color: #1e1e1e;
            color: #e0e0e0;
            border-radius: 8px;
            padding: 20px;
            width: 300px;
            text-align: center;
        }
    
        .modal-content input {
            background-color: #2a2a2a;
            color: #ffffff;
            border: 1px solid #444;
            border-radius: 8px;
            padding: 10px;
            width: 100%;
            margin-top: 10px;
        }
    
        .modal-actions {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
    
        .modal-actions button {
            background-color: #6200ea;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
    
        .modal-actions button:hover {
            background-color: #3700b3;
        }
    
        .modal-actions button:active {
            background-color: #290f6f;
        }